---
import { SEO } from "astro-seo";

interface Props {
	title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title,
          type: "website",
          image: "https://anurag.pro/opengraph.png",
        }
      }}
      twitter={{
        creator: "@anurag__in"
      }}
      extend={{
        link: [{ rel: "icon", href: "/favicon.svg" }],
        meta: [
          {
            name: "twitter:image",
            content: "http://anurag.pro/twitter.png",
          },
          { name: "twitter:title", content: title },
          { name: "twitter:description", content: description },
        ],
      }}
    />
    <script 
      async 
      src="https://www.googletagmanager.com/gtag/js?id=G-X94MH3Y2PX"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-X94MH3Y2PX');
    </script>
	</head>
	<body>
		<slot />
    <main>
    <img class="logo" src="/logo.svg" alt="Anurag Singh" />
    <h1>All things Product.</h1>
		<p>As a strategic and data-driven Product Manager, I am passionate about building innovative products that delight customers and drive business growth. </p>
    <p>My background in engineering, business, and design has enabled me to develop a well-rounded skillset that allows me to effectively collaborate with cross-functional teams and lead products from concept to launch. </p>
    <p>My expertise lies in crafting user-centric products that leverage data and analytics to deliver exceptional value.</p>
    <p>My experience spans multiple industries, including Fintech, Ecommerce, and Digital media, providing me with a diverse perspective on product development.</p>
    <p>Outside of work, I am an avid adventurer, participating in activities such as hiking, scuba diving, surfing, and skiing. I am a certified scuba diver, and I enjoy exploring the beauty and diversity of the underwater world. My passion for adventure translates to my work, as I am constantly seeking new challenges and opportunities to grow and evolve my skills.</p> 
		<p>Available for select freelance projects.</p>
    <a href="mailto:mail@anurag.pro">contact</a>
	</main>
	</body>
</html>
<style is:global>
  @font-face {
      font-family: 'apercu';
      src: url('/apercu.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
    }

	:root {
		--ink: 255, 255, 255;
    --paper: 74, 0, 148;
    --font: 'apercu', sans-serif;
	}

	html {
		font-family: var(--font);
		background: rgb(var(--paper));
	}

  body {
    margin: 0;
  }

  * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
<style>
	main {
		margin: auto;
		padding: 4rem 1rem;
		width: 700px;
		max-width: calc(100% - 2rem);
		font-size: 1.6rem;
		line-height: 1.6;
    color: rgb(var(--ink));
    text-transform: lowercase;
    
    @media (max-width: 700px) {
      padding: 3rem 25px 1rem;
      font-size: 1.2rem;
    }

    @media (max-width: 500px) {
      max-width: 100%;
    }
	}
  
	.logo {
    width: 80px;
    height: auto;
    padding-bottom: 1rem;
  }
  
	h1 {
		font-size: 4rem;
		font-weight: normal;
		line-height: 1.2;
		margin-bottom: 1em;

    @media (max-width: 800px) {
      font-size: 3rem;
    }

    @media (max-width: 600px) {
      font-size: 2.5rem;
    }

    @media (max-width: 500px) {
      font-size: 2rem;
    }
	}

  a {
    color: rgba(var(--ink), 1);

    &:hover {
      color: rgba(var(--ink), 0.7);
    }
  }


  .legal {
    padding-top: 4rem;
    opacity: 0.2;
  }
</style>
